<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=|, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='uploadPage.css')}}">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <title>Virtual Assistant
    </title>
</head>
<body>
    <div class="container">
		<input type="file" id="file" accept="image/*" hidden>
		<div class="img-area" data-img="">
			<i class='bx bxs-image icon'></i>
			<h3>Upload Image</h3>
			<p>Image size must be less than <span>4 MB</span></p>
            <table>
                <tr>
                    <th>Disclaimer / Warning</th>
                </tr>
                <tr>
                    <td>
                        <p>This app is a proof-of-concept and known to produce inaccurate results. Intended for educational and testing use only. Do not use this app in a real-world medical environment. Use at your own risk. </p>
                    </td>
                </tr>
            </table>

		</div>
        
        

        <form action="/imagehandler" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*">
            
            <input type="submit" value="Submit">
        </form>
        
	</div>
    <script>


    </script>
</body>

</html>